@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://css.gg/close.css');

header {
  height: 240vh;
}

body {
  background-color: black;
  font-family: Josefin Sans;
  color: white;
}

.close-button {
  position: absolute;
  padding: 2vh 2vh;
  color: rgb(216, 216, 216, 0.6);
  cursor: pointer;
  
}

.close-button:hover {
  color: rgb(216, 216, 216);
  transition: 0.3s;
}

.row {
  padding: 2vh 2vh;
}

.title-bar {
  font-family: Josefin Sans;
}



.place-description {
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 100;
  margin-top: 3vh;
  padding: 5vh 2vh;
  width: 90%;
  height: fit-content;
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 120vh;
  left: 0;
  width: 100%;
  max-width: 100%;

  /* safari hack */
  /*-webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);*/
}

.container_solid {
  background: rgba(28, 28, 49, 0.5);
  

  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-align: center;
  font-family: Major Mono Display;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url(https://media.dndbeyond.com/compendium-images/sais/MEDeeJAOuTmQ254j/03-001.rock-of-bral-splash.jpg);
  background-size: 100% auto;
  background-position: center;

  /* clip the text is possible */
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  /* fallback text color 
  color: white; */
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url(https://media.dndbeyond.com/compendium-images/sais/MEDeeJAOuTmQ254j/03-001.rock-of-bral-splash.jpg);
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;

  /* position the second container below the first container */
  top: 120vh;
}

.container_image .title_wrapper h1 {
  color: rgba(28, 28, 49);
  font-weight: 900;
  background-color: rgb(224, 235, 235, 0.5);
  box-shadow: 0px 0px 5px rgb(224, 235, 235, 0.5);
}

.place-description {
  font-family: inherit;
  height: inherit;
  overflow-y: scroll;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
}

section h2 {
  font-family: Major Mono Display;
}

.root{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  padding: 2vh 0vh;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  max-height: initial;
}

.topsidemap {
  overflow: visible;
  overflow-x: visible;
  scale: 1;
  max-height: 100%;
  max-width: 100%;
}

.undersidemap {
  overflow: visible;
  overflow-x: visible;
  scale: 1;
  max-height: 100%;
  max-width: 100%;
}

.tabcontentprimespace {
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2vh;
  background-color: rgba(66, 66, 112, 0);
  border-radius: 3vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 1px solid rgb(216, 216, 216);
}
.tabcontentprimespace2 {
  position: relative;
  color: white;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 2vh;
  background-color: rgba(66, 66, 112, 0.6);
  border-radius: 3vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

